[Unit]
Description = Holiday Lights
After = network.target
StartLimitIntervalSec=0

[Service]
#Type=simple
Type=notify
Restart=on-watchdog
WatchdogSec=15s
#Restart=always
#RestartSec=10
User=root
ExecStart=/usr/bin/python3 /home/rainwater/holiday-lights/holidaylights.py

[Install]
WantedBy=multi-user.target
